{% extends 'base.html' %}

{% block title %}Просмотр пользователя{% endblock %}

{% block content %}
<h1 class="h3 mb-4">Просмотр пользователя</h1>

<div class="table-responsive bg-white shadow-sm rounded">
    <table class="table mb-0">
        <tbody>
        <tr>
            <th class="w-25" scope="row">Идентификатор</th>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <th scope="row">Логин</th>
            <td>{{ user.login }}</td>
        </tr>
        <tr>
            <th scope="row">Фамилия</th>
            <td>{{ user.last_name or '' }}</td>
        </tr>
        <tr>
            <th scope="row">Имя</th>
            <td>{{ user.first_name }}</td>
        </tr>
        <tr>
            <th scope="row">Отчество</th>
            <td>{{ user.middle_name or '' }}</td>
        </tr>
        <tr>
            <th scope="row">Роль</th>
            <td>{{ user.role_name or 'Без роли' }}</td>
        </tr>
        </tbody>
    </table>
</div>

<a class="btn btn-outline-secondary mt-4" href="{{ url_for('index') }}">Назад</a>
{% endblock %}
